@model CrowdfundMvc.Models.ProjectCreatorModel
@{
    ViewData["Title"] = "Profile";
}


<h1>Profile</h1>

<table id="resultTable" border="1"
       style="color:darkslateblue;background-color:lightcyan"
       cellpadding="1" cellspacing="1">
    <tr>

        <th>ProjectCreatorId</th>
        <th>FullName </th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone</th>

    </tr>
    @{
        //razor syntax
        <tr>

            <td> @Model.ProjectCreatorId</td>
            <td> @Model.FullName </td>
            <td> @Model.Address</td>
            <td> @Model.Email</td>
            <td> @Model.Phone</td>

        </tr>
    }

    <button type="button"
            href="#" onclick="ProfileToAddProject(@Model.ProjectCreatorId)">
        CreateProject
    </button>

</table>

<h1>Projects</h1>




<table id="productsList" value="@Model.ProjectCreatorId">
    <tr>

        <th>Title</th>
        <th>Description </th>
        <th>StatusUpdate</th>
        <th>TotalFundings</th>
        <th>Goal</th>
        <th>Category</th>

    </tr>
    @{
        foreach (var prj in Model.Projects)
        {
        <tr>
            <td >
                <a href="#" id="prod@(prj.Id)" value="@(prj.Id)"
                   onclick="ProfileProject()">
                    @prj.Title
                </a>
            </td>
            <td>
                <a href="#" id="prod@(prj.Id)" value="@(prj.Id)"
                   onclick="ProfileProject(@prj.Id, @Model.ProjectCreatorId)">
                    @prj.Description
                </a>
            </td>
            <td>
                <a href="#" id="prod@(prj.Id)" value="@(prj.Id)"
                   onclick="ProfileProject()">
                    @prj.StatusUpdate
                </a>
            </td>
            <td>
                <a href="#" id="prod@(prj.Id)" value="@(prj.Id)"
                   onclick="ProfileProject()">
                    @prj.TotalFundings
                </a>
            </td>
            <td>
                <a href="#" id="prod@(prj.Id)" value="@(prj.Id)"
                   onclick="ProfileProject()">
                    @prj.Goal
                </a>
            </td>
            <td>
                <a href="#" id="prod@(prj.Id)" value="@(prj.Id)"
                   onclick="ProfileProject()">
                    @prj.Category
                </a>
            </td>
        </tr>
        }
    }
</table>

