@model CrowdfundMvc.Models.ProjectModel
@{
    ViewData["Title"] = "ProfileProject";
}


<h1>Profile Project</h1>

<table id="resultTable" border="1"
       style="color:darkslateblue;background-color:lightcyan"
       cellpadding="1" cellspacing="1">
    <tr>

        <th>ProjectId</th>
        <th>ProjectCreator</th>
        <th>Title </th>
        <th>Description</th>
        <th>StatusUpdate</th>
        <th>TotalFundings</th>
        <th>Goal</th>
        <th>Category</th>
        <th>Active</th>
        <th>Edit</th>

    </tr>
    @{
        //razor syntax
        <tr>

            <td> @Model.ProjectId</td>
            <td> @Model.ProjectCreator.FullName</td>
            <td> @Model.Title </td>
            <td> @Model.Description</td>
            <td> @Model.StatusUpdate</td>
            <td> @Model.TotalFundings</td>
            <td> @Model.Goal</td>
            <td> @Model.Category</td>
            <td> @Model.Active</td>
            <td>
                <a href="#" onclick="editProject(@Model.ProjectId, @Model.ProjectCreator.Id)"> Edit</a>
            </td>

        </tr>
    }

</table>
<table id="productsList" value="@Model.ProjectId">
    <tr>


        <th>Reward </th>
        <th>Price </th>
        <th>Project</th>


    </tr>
    @{
        foreach (var bfp in Model.FundingPackages)
        {
      

        <tr>
            <td>
                @bfp.Reward
            </td>

            <td>
                @bfp.Price
            </td>

            <td>
           
        </tr>

        
        }
    }
</table>

    <button type="button"
            href="#" onclick="addpackage(@Model.ProjectId, @Model.ProjectCreator.Id)">
        Create Funding Package
    </button>