@model CrowdfundMvc.Models.BackerModel
@{
    ViewData["Title"] = "ProfileBacker";
}

<style>
    .thead-dark {
        background-color: #1b6ec2;
    }

    body {
        background-color: #F5F5F5;
    }
</style>


    <div style=" padding-bottom: 50px; font-family: 'Permanent Marker', cursive; color: #1b6ec2;" class="text-center">
        <h1>Welcome @Model.FullName</h1>

    </div>


<div class="row">
    
    <div class="col-sm-2">
        <div class="card">
            <img class="card-img-top" src="/Images/profileicon.png">
            <div class="card-body">
                <h5 class="card-title">FullName: @Model.FullName</h5>
                <h5 class="card-title">Address: @Model.Address</h5>
                <h5 class="card-title">Email: @Model.Email</h5>
                <h5 class="card-title">Phone: @Model.Phone</h5>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary"
                                href="#" onclick="ProfileToShowTrendingProject(@Model.BackerId)">
                            Trends
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary"
                                href="#" onclick="ShowAlProjects(@Model.BackerId)">
                            Projects
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-9" style="margin-left: 70px">

        <div class="card">
            <h5 class="card-title" style="font-family: 'Permanent Marker', cursive; color: #1b6ec2; text-align: center; font-size: 35px;">My Rewards</h5>
            <table class="table">
                <thead class="thead-light">

                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Reward</th>
                        <th scope="col">Price </th>
                        <th scope="col">Title </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var x = 1;
                        //razor syntax
                        foreach (var bfp in Model.backerFundingPackages)
                        {
                            <tr id="cusTable@(bfp.Id)">
                                <th scope="row">@x</th>
                                <td>@bfp.FundingPackage.Reward </td>
                                <td>@bfp.FundingPackage.Price</td>
                                <td>@bfp.Project.Title</td>
                            </tr>
                            x++;
                        }
                    }
                </tbody>
            </table>
        </div>


        

    </div>

    </div>








