@model CrowdfundMvc.Models.BackerModel
@{
    ViewData["Title"] = "ProfileBacker";
}


<h1>Profile</h1>

<table id="resultTable" border="1"
       style="color:darkslateblue;background-color:lightcyan"
       cellpadding="1" cellspacing="1">
    <tr>

        <th>BackerId</th>
        <th>FullName </th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone</th>

    </tr>
    @{
        //razor syntax
        <tr>

            <td> @Model.BackerId</td>
            <td> @Model.FullName </td>
            <td> @Model.Address</td>
            <td> @Model.Email</td>
            <td> @Model.Phone</td>

        </tr>
    }






</table>

<button type="button"
        href="#" onclick="ProfileToShowTrendingProject(@Model.BackerId)">
    Show Trending Projects
</button>

<button type="button"
        href="#" onclick="ShowAlProjects(@Model.BackerId)">
    Show all Projects
</button>



<table id="productsList" value="@Model.BackerId">
    <tr>


        <th>Reward </th>
        <th>Price </th>
        <th>Project</th>


    </tr>
    @{
        foreach (var bfp in Model.backerFundingPackages)
        {
            <tr>

                <td>
                    <a href="#" id="prod@(bfp.Id)" value="@(bfp.Id)"
                       >
                        @bfp.FundingPackage.Reward
                    </a>
                </td>
                <td>
                    <a href="#" id="prod@(bfp.Id)" value="@(bfp.Id)"
                       >
                        @bfp.FundingPackage.Price
                    </a>
                </td>
                <td>
                    <a href="#" id="prod@(bfp.Id)" value="@(bfp.Id)"
                      >
                        @bfp.Project.Title
                    </a>
                </td>

            </tr>
        }
    }
</table>