@model CrowdfundMvc.Models.ProjectModel
@{
    ViewData["Title"] = "Projects";
}


<h1>Projects</h1>

<table id="resultTable" border="1"
       style="color:darkslateblue;background-color:lightcyan"
       cellpadding="1" cellspacing="1">
    <tr>

        <th>Title</th>
        <th>Description </th>
        <th>StatusUpdate</th>
        <th>TotalFundings</th>
        <th>Goal</th>
        <th>Category</th>
        <th>ShowFundingPackages</th>


    </tr>
    @{
        //razor syntax
        foreach (var project in Model.Projects)
        {
        <tr id="cusTable@(project.Id)">

            <td> <a href="#" id="prod@(project.Id)" value="@(project.Id)"
                   onclick="ProfileProjectBacker(@project.Id, @Model.BackerId)">
                    @project.Title
                </a>
            </td>
            <td> @project.Description </td>
            <td> @project.StatusUpdate</td>
            <td> @project.TotalFundings</td>
            <td> @project.Goal</td>
            <td> @project.Category</td>
            <td> <a href="#" onclick="ShowFundingPackages(@Model.BackerId, @project.Id)"> ShowFundingPackages</a></td>



        </tr>
        }
    }
</table>